.navbar {
  .container{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      .img {
        width: 20px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 300;
    }

    .write {
      background-color: #80c3c3;
      width: 100px;
      height: 45px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      &:hover {
        background-color: rgb(0, 92, 128);
      }       
    }    
  }
}
